body {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 10% 90%;
    grid-template-areas: 
    'linha linha'
    'coluna coluna1'
    ;
}

.grid-item1 {
    border: 2px solid black;
    background-color: yellow;
    grid-area: linha;
}

.grid-item2 {
    border: 2px solid black;
    background-color: rgb(190, 13, 13);
    grid-area: coluna;
}

.grid-item3 {
    border: 2px solid black;
    background-color: bisque;
    grid-area: coluna1;
}
