body {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 25% 65% 10%;
    grid-template-columns: 10% 90%;
    grid-template-areas: 
    'linha linha'
    'coluna1 coluna2'
    'linha1 linha1'
    ;
}

.grid-item1 {
    border: 2px solid black;
    background-color: greenyellow;
    grid-area: linha;
}

.grid-item2 {
    border: 2px solid black;
    background-color: rgb(61, 105, 143);
    grid-area: coluna1;
}

.grid-item3 {
    border: 2px solid black;
    background-color: rgb(42, 165, 42);
   grid-area: coluna2;
}

.grid-item4 {
    border: 2px solid black;
    background-color: rgb(38, 182, 182);
    grid-area: linha1
}